body {
    color:rgb(210, 224, 9);
    background-color:whitesmoke;
    font-family: 'Shadows Into Light', cursive;
    font-size: 15pt;
    font-weight: 400;
    /* overflow-x: hidden;  */
    /* font-size: 150%; */
    /* margin: 2em 15%; */
     }

     header {
        background-color: #1585a1;
        text-align: center;
         height: auto; 
         padding: 20px;
        
        /* padding: 20px;
        margin: 0px;  */
    }

 .paragragh {
     font-size: 25px;
 }

 
footer {
    background-color: #429201;
	font-size: 15px;
}

section {
	margin: 1.875em 0;
}

div {
    padding: 25px 50px 75px 100px;
  }


